body {
  text-align: center;
  font-family: Poppins, sans-serif;
  background: #f0f2f5;
}

h1 {
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

video {
  width: 60%;
  border-radius: 10px;
}

.result-box {
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
